* {
    margin: 0;
    padding: 0;
}

html {
    background: #ededed;
}

body {
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;

    @media only screen and (min-width: 650px) {
        flex-direction: row;
        gap: 6%;
    }

    @media only screen and (min-width: 850px) {
        flex-direction: row;
        gap: 100px;
    }

    @media only screen and (min-width: 1200px) {
        flex-direction: row;
        margin-left: 60px;
    }

    @media only screen and (min-width: 1200px) {
        flex-direction: row;
        margin-left: 0;
    }
}

.button__container {
    display: flex;
    flex-direction: column;
    align-items:  flex-end;
    justify-content: center;
    gap: 22px;
    margin-top: 52px;

    @media only screen and (min-width: 650px) {
        margin-top: 148px;
    }

    @media only screen and (min-width: 850px) {
        flex-basis: calc(33.3% - 110px);
        margin-top: 154px;
        gap: 30px;
    }
}

button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #333;
    width: 185px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 4px;
    cursor: pointer;
    transition: transform .15s;
}

button:hover {
    transform: scale(1.08);
}

.active {
    background-color: #333;
    color: #fff; 
}

.button__color-picker {
    margin-right: 54px;
}

#color-picker {
    width: 80px;
    height: 80px;
    background-color: #333333;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    transition: transform .15s;
}

#color-picker:hover {
    transform: scale(1.05);
}

#color-picker::-webkit-color-swatch {
    border: none;
}

#color-picker::-moz-color-swatch {
    border: none;
}

.button__slider {
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    width: 185px;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 185px;
    height: 10px;
    background: transparent;
    border: 1px solid #333;
    outline: none;
    border-radius: 10px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #333;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    background: #333333;
    margin-top: -6px;
}

input[type=range]:focus {
    outline: none;
    background: transparent;
    border-radius: 10px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
    border-radius: 10px;
}

.button__slider--label {
    font-size: 21px;
    margin-bottom: 8px;
}

.grid__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: 850px) {
        flex-basis: 500px;
    }

    @media only screen and (min-width: 1200px) {
        margin-right: 33.3%;
    }
}

.grid {
    display: flex;
    height: 300px;
    min-width: 300px;
    flex-basis: 300px;
    flex-wrap: wrap;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    @media only screen and (min-width: 650px) {
        min-width: 400px;
        height: 400px;
        flex-basis: 400px;
    }

    @media only screen and (min-width: 850px) {
        min-width: 500px;
        height: 500px;
        flex-basis: 500px;
    }
}

.grid__title {
    color: #333;
    font-size: 50px;
    text-align: center;
    margin: 40px 0;

    @media only screen and (min-width: 650px) {
        font-size: 63px;
    }

    @media only screen and (min-width: 850px) {
        font-size: 78px;
    }
}